#root {
  width:100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.add_task{
  display: flex;
  gap:16px;
  justify-content: flex-start;
  border-bottom:1px solid #fff;
  padding:16px 0;
  width:100%;
}
.add_task input{
  width:calc(100% - 100px - 16px);
}
.add_task button{
  width:100px;
}
.todo{
  display:flex;
  flex-direction:column;
  gap:16px;
  width:100%;
  padding:0;
}
.todo_list{
  display:flex;
  align-items: center;
  gap:8px;
  border-bottom:1px solid #fff;
  padding:8px 0;
}
.todo_list input{
  width:20px;
  height:20px;
}
.todo_list span{
    flex:1 0 0;
    text-align: left;
}
.todo_list button{
  width:140px;
}
.done{
  text-decoration:line-through;
}