#root {
  width:100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.app{
  display: flex;
  flex-flow:row wrap;
  gap:16px;
}
.menu{
  position: fixed;
  top:0;
  left:0 ;
  right:0;
  height:40px;
  padding:16px 0;
  background-color: #fff;
  display:flex;
  justify-content: center;
  gap:16px;
}
.menu a{
  color:#999;
  font-size:1.2em;
}
.menu a.active{
  color:#000;
}
.card{
  border:1px solid #fff;
  border-radius:4px;
}
.card h1{
  margin:0;
  padding:0;
  font-size:2em;
  background-color:#fff;
  color:#000;
  padding:8px;
}
.card section{
  padding:16px;
}
.add_task{
  display: flex;
  gap:16px;
  justify-content: flex-start;
  border-bottom:1px solid #fff;
  padding:16px 0;
  width:100%;
}
.add_task input{
  width:calc(100% - 100px - 16px - 16px);
  padding:0 8px;
}
.add_task button{
  width:100px;
}
.todo{
  display:flex;
  flex-direction:column;
  gap:16px;
  width:100%;
  padding:0;
}
.todo_list{
  display:flex;
  align-items: center;
  gap:8px;
  border-bottom:1px solid #fff;
  padding:8px 0;
}
.todo_list input{
  width:20px;
  height:20px;
}
.todo_list span{
    flex:1 0 0;
    text-align: left;
}
.todo_list button{
  width:140px;
}
.done{
  text-decoration:line-through;
}
.chrono .contenu{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:8px;
} 
.chrono .contenu h2{
    font-size:3em;
    line-height: 1;
}
.chrono .contenu div{
    display:flex;
    gap:8px;
    padding:0 8px;
}
.listApi .contenu{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:8px;
  padding:16px;
}
.listApi .contenu label{
  display: flex;
  align-items: center;
  gap:8px;
  font-weight: 600;
} 
.listApi .contenu label input{
  padding:8px;
}
.listApi .contenu ul{
  list-style-type: none;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:8px;
}
.contact{
  display: flex;
  flex-direction: column;
  gap:16px;
  align-items:center;
}
.contact div{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  gap:4px;
}
.contact .err{
  margin:0;
  color:rgba(255, 0, 0, 0.884);
}
.contact input[type="text"],
.contact input[type="password"]{
  padding:8px;
  width:300px;
}
.contact select{
  padding:8px;
  width:320px;
}
.contact label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width:320px;
  gap:8px;
}
.contact input[type="checkbox"]{
  width:20px;
  height:20px;
}
.contact_recap{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  gap:16px;

}